@font-face {
  font-family: 'iconfont';  /* project id 1556517 */
  src: url('//at.alicdn.com/t/font_1556517_4g0ieeo85as.eot');
  src: url('//at.alicdn.com/t/font_1556517_4g0ieeo85as.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1556517_4g0ieeo85as.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1556517_4g0ieeo85as.woff') format('woff'),
  url('//at.alicdn.com/t/font_1556517_4g0ieeo85as.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1556517_4g0ieeo85as.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 15px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.iconicon:before {
  content: "\e601";
}

.iconbijiben:before {
  content: "\e650";
}

.iconiconfontzhizuobiaozhun023101:before {
  content: "\e667";
}

.iconweixin:before {
  content: "\e659";
}

.iconmessage:before {
  content: "\e668";
}

.iconyouxiang-:before {
  content: "\e6af";
}

.iconxiangce:before {
  content: "\e7be";
}

.iconshijian:before {
  content: "\e77c";
}

.iconshouye:before {
  content: "\e622";
}

.iconxuexi:before {
  content: "\e7f1";
}

.iconwode:before {
  content: "\e630";
}
