@font-face {
  font-family: 'iconfont';  /* project id 1504482 */
  src: url('//at.alicdn.com/t/font_1504482_vc1bnj1t70q.eot');
  src: url('//at.alicdn.com/t/font_1504482_vc1bnj1t70q.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1504482_vc1bnj1t70q.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1504482_vc1bnj1t70q.woff') format('woff'),
  url('//at.alicdn.com/t/font_1504482_vc1bnj1t70q.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1504482_vc1bnj1t70q.svg#iconfont') format('svg');
}

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .iconguanbi:before {
    content: "\e631";
  }
  
  .iconziyuan:before {
    content: "\e60a";
  }
  